* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

body[data-mode="day"] {
    background-color:#0d1b2a;
}

body[data-mode="night"] {
    background-color: #16202a;
}

/* Weather Card */
.weather-card {
    position: relative;
    z-index: 1;
    width: 360px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Background overlay effect */
.weather-card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, #00cfff, #ffe15d);
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    pointer-events: none;
}

/* Mode Background */
.weather-card[data-mode="day"] {
    background: url(assets/day-mountain.png) no-repeat center bottom;
    background-size: cover;
    background-color: #fef3bd;
}

.weather-card[data-mode="night"] {
    background: url(assets/night-mountain.png) no-repeat center bottom;
    background-size: cover;
    background-color: #0d1b2a;
}

.weather-card[data-mode="day"]::before {
    background: linear-gradient(135deg, #e7bc00, #27844e);
    color: #fff;
}

.weather-card[data-mode="night"]::before {
    background: linear-gradient(135deg, #59ccca, #003466);
    color: #0d1b2a;
}

.weather-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.weather-top .city {
    font-size: 38xp;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.weather-top .date {
    font-size: 16xp;
    font-weight: 400;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.weather-top .details-top {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 38xp;
    font-weight: 400;
    margin-top: 6px;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);
}

.weather-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    z-index: 3;
}

.weather-center .weather-icon {
    font-size: 52px;
    text-shadow: 0 0 4px rgba(0,0,0,0.6);
}

.temperature {
    font-size: 36px;
    color: #fff;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);

}

.sun,
.moon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 16vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 30px #ffd700;
    animation: pulse 3s ease-in-out infinite;
    z-index: 0;
    display: none;
    transition: opacity 0.5s ease;
}

.sun {
    background: #FDF0AB;
    box-shadow: 0 0 30px #ffd700;
}

.moon {
    background: #fff;
    box-shadow: 0 0 30px #fff;
}

@keyframes pulse {
    0%, 100% {box-shadow: 0 0 30px currentColor;}
        50% {box-shadow: 0 0 40px currentColor;}
}

.weather-bottom {
    position: absolute;
    width: 340px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
    padding: 10px;
    font-weight: bold;
}

.weather-day1,
.weather-day2,
.weather-day3,
.weather-day4,
.weather-day5,
.weather-day6,
.weather-day7
{
    min-width: 100px;
    height: 130px;
    border-radius: 20px;
    background-color: #ffffff37;
    padding: 5px;
}

.weather-emoji1,
.weather-emoji2,
.weather-emoji3,
.weather-emoji4,
.weather-emoji5,
.weather-emoji6,
.weather-emoji7
{
    font-size: 30pt;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff37;
  border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0b3;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
  border-radius: 20px;
}

.input-city {
    margin-top: 90px;
    gap: 10px;
    flex-direction: column;
    color: #ffffff;
    font-weight: bolder;
}

.alert-city {
    margin: 10px;
    color: #fff;
    display: none;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.alert-city button {
    width: 100px;
}

input {
    border: none;
    padding: 4px;
    border-radius: 10px;

}

.input {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    padding: 3px;
    border-radius: 10px;
    border: none;
    transition: .4 ease-in-out;
    background-color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #ffffffa8;
}

.weather-temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.realfeel {
    background-color: #ffffff76;
    color: #ffffff;
    padding: 3px;
    border-radius: 20px;
    width: 60px;
    text-shadow: 0 0 8px rgba(0,0,0,0.6);

}